body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.div_main{
    height:100vh;
    position:relative;
}
.div_top {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    overflow: auto;
    
}
.div_bottom {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.div_bordered {
    border: 2px solid #0b88d6;
    border-radius: 4px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.5);
}

.data_table thead tr {
    background-color: #f5f5f5;
}

    .data_table thead tr td {
        font-weight: bold;
    }
